.HeaderDropdown{
    background-color: #ffffff;
}
.city{
    display: flex;
    align-items: center;
    padding-top: 1em;
}
.city img{
    width: 48px ;
    height: 48px ;
    border-radius: 8px ;
    margin-right: 1em;
}
.city p{
    font-size: 16px ;
    line-height:4px ;
    font-weight: 400 ;
    color: rgb(34, 34, 34) ;
    margin-bottom: 0;
}
.city span{
    font-size: 12px ;
    line-height: 1 ;
    font-weight: 400 ;
    color: rgb(113, 113, 113);
}
.HeaderDropdown h6{
    text-transform: uppercase ;
    font-size: 12px ;
    line-height: 12px ;
    font-weight: 700 ;
    color: #484848;
    margin-bottom: 0;
    margin-top: 2em;
}
.SearchDropdown .cityIcon{
    background-color: rgb(241, 241, 241) ;
    border: 1px solid rgba(176, 176, 176, 0.2) ;
    border-radius: 8px ;
    width: 48px;
    height: 48px;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchDropdown p{
    font-size: 16px ;
    line-height: 20px ;
    font-weight: 400 ;
    color: rgb(34, 34, 34);
    margin: 0;
}
.SearchDropdown> div{
    padding-top: 1em;
    display: flex;
    align-items: center;
}